
.table-view {
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-table-header-border-radius:20;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-border-radius:10;
    -fx-background-color: #DAF3FC;
}

.table-view .column-header, .table-view .filler {
    -fx-border-radius:25;
    -fx-background-color: #DAF3FC;
    
}

.table-view .column-header .label {
    -fx-background-color: #DAF3FC;
    -fx-font-family: "Avenir Light";
    -fx-border-radius:25;
    -fx-alignment:left;
    -fx-padding:0 0 0 10;
    
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

